<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %} {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% if prism == true %}
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/prism-tomorrow.css"
    />
    {% endif %}
  </head>
  <body>
    {% include "./partials/navbar.html" %} {{ content | safe }}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <!-- Needed only if you are using Netlify Identity feature -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    {% endif %}
    <script>
    var refTagger = {
      settings: {
        bibleVersion: 'CSB'
      }
    }; 
    
    (function(d, t) {
      var n=d.querySelector('[nonce]');
      refTagger.settings.nonce = n && (n.nonce||n.getAttribute('nonce'));
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
      g.src = 'https://api.reftagger.com/v2/RefTagger.js';
      g.nonce = refTagger.settings.nonce;
      s.parentNode.insertBefore(g, s);
    }(document, 'script'));
    </script> 
  </body>
</html>
