---
layout: default
prism: true
---

<div class="container max-w-4xl px-6 mx-auto pt-24">
  <div class="pb-5 mb-5 border-b border-gray-100">
    <h1 class="font-bold text-5xl">{{title}}</h1>
    <p class="text-center text-base leading-6 font-medium text-gray-500 mt-4">
      <time>
        {{ date | readableDate }} by
        <span class="text-blue-600">{{ author }}</span>
      </time>
    </p>
  </div>

  <article class="prose lg:prose-xl my-4 mx-auto">{{ content | safe }}</article>

  <div class="mt-8 pt-8 border-t border-gray-100">
    <a href="/notes" class="text-blue-600 hover:text-blue-800 hover:underline"
      >&larr; Back to Reading Plans</a
    >
  </div>
</div>
